!!!
%head
  %meta{:charset => "UTF-8"}
  %title My Tweet Week
  %link{:rel => "stylesheet", :href => "/stylesheets/style.css"}
%body
  %h1 My Tweet Week
  %h2 A resume of your week on twitter
  = yield
